body {
  width: 100%;
}

.progression-bar {
  display: flex;
  /* border: 1px solid black; */
  width: 40%;
  height: 10px;
}

.first-color {
  /* border: 1px solid black; */
  width: 20%;
  height: 10px;
  background-color: #c3214b;
}
.second-color {
  /* border: 1px solid black; */
  width: 30%;
  height: 10px;
  background-color: #494c7e;
}
.third-color {
  /* border: 1px solid black; */
  width: 50%;
  height: 10px;
  background-color: #357e52;
}

.container-fluid {
  padding: 0 5rem;
}
.title {
  color: #494c7e;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

form {
  width: 100%;
}

.row {
  width: 100%;
}

.konten {
  width: 95%;
  /* height: 500px; */
  /* border: 1px solid black; */
}

select {
  border: 2px solid #000 !important;
}

label {
  color: #000;
  font-size: 1rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.row > * {
  padding-right: 0;
  padding-left: 0 !important;
}

.button {
  border: none;
  cursor: pointer;
  padding: 0.75rem;
  background-color: #494c7e;
  border-radius: 15px;
  color: #fff;
  font-size: 1.5rem;
  font-weight: 600;
  line-height: normal;
  transition-duration: 0.4s;
}

.button:hover {
  background-color: #fff;
  color: #494c7e;
  border: 1px solid #494c7e;
}

/* .result{
    display: none;
} */

 .result {
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
  width: 75%;
  height: 500px;
  /* border: 1px solid black;  */
}


img {
  width: 300px;
}

.result-text {
  color: #494c7e;
  font-size: 2rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.result-text span {
  color: #357e52;
}
